<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="AllContainer">
        <div class="firstContainer">
            <h3 class="location">Rabat</h3>
            <h2 class="details">60°<br>Partly cloudy<br>Day 64° • Night 50°</h2>      
        </div>
        <div class="secondContainer" >
            <h2>Today's Forecast for Rabat, 07</h2>
            <div class="dayAndNight">
                <div class="day">
                    <p>Day</p>
                    <p>60°</p>
                    <img alt="icon">
                </div>
                <div class="night">
                    <p>Night</p>
                    <p>60°</p>
                    <img alt="icon">
                </div>
            </div>
        </div>
        <div class="thirdContainer"> 
            <h2>Weather Today in Rabat</h2>
            <div>
                <h4>Wind</h4>
                <h5>6 mph</h5>
            </div>
            <div>
                <h4>Humidity</h4>
                <h5>79%</h5>
            </div>
            <div>
                <h4>Pressure</h4>
                <h5>30.09 in</h5>
            </div>
            <div>
                <h4>Visibiluty</h4>
                <h5>5 mi</h5>
            </div>
        </div>
        <div class="fourthContainer">
            <h2>Daily Forecast</h2>
            <div class="forcast">
                <div>
                    <p>Sun 19</p>
                    <p>67°</p>
                    <p>51°</p>
                    <img src="#" alt="icon">
                </div>
                <div>
                    <p>Sun 19</p>
                    <p>67°</p>
                    <p>51°</p>
                    <img src="#" alt="icon">
                </div>
                <div>
                    <p>Sun 19</p>
                    <p>67°</p>
                    <p>51°</p>
                    <img src="#" alt="icon">
                </div>
                <div>
                    <p>Sun 19</p>
                    <p>67°</p>
                    <p>51°</p>
                    <img src="#" alt="icon">
                </div>

            </div>
            
        </div>
    </div>
    
</body>
</html>